/* ==========================================================================
   HEADER
   ========================================================================== */
.header {
    background-color: var(--color-bg);
}

.header__inner {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding: 24px 0;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 100px;
}

.header__logo {
    height: 50px;
    width: auto;
    object-fit: contain;
    display: block;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    color: var(--color-text-muted);
}

.nav-main {
    display: flex;
    align-items: center;
    gap: 32px;
    font-size: 15px;
}

.nav-main__link.is-active, .nav-secondary__link.is-active {
    font-weight: 600;
}

.nav-secondary {
    display: flex;
    align-items: center;
    gap: 28px;
    font-size: 15px;
    padding-left: 28px;
    border-left: 1px solid var(--color-border);
}

.nav-secondary__link {
    display: inline-flex;
    align-items: center;
    gap: 6px;
}

.badge {
    min-width: 10.5px;
    height: 15px;
    padding: 0 2px;

    background-color: var(--color-text-muted);
    color: #FFFFFF;
    font-size: 8.25px;
    font-weight: 700;
    border-radius: 6.75px;

    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

/* ==========================================================================
   FOOTER
   ========================================================================== */
.footer {
    background-color: white;
    border-top: 1px solid var(--color-border);
    padding: 28px 0;
}

.footer__inner {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 32px;
    font-size: 14px;
    font-weight: 300;
    color: var(--color-text-muted);
}

.footer__logo  {
    height: 17px;
    width: auto;
    object-fit: contain;
    display: block;
}

@media (max-width: 860px) {
    .header__inner {
        flex-wrap: wrap;
        gap: 16px;
    }

    .nav-secondary {
        border-left: none;
        padding-left: 0;
    }

    .footer__inner {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
}
